# 클래스와 예외처리

# 05-1 클래스

In [3]:
#계산기 프로그램 만들기
result = 0

def add(num):
    global result #전역변수의 값이 글로벌에 유지가 됨.
    result += num  # 결괏값(result)에 입력값(num) 더하기
    return result  # 결괏값 리턴

print(add(3))
print(add(4))

# 이 경우에는 하나의 프로그램에 하나의 사용자만 사용할 수 있는 경우임.

3
7

In [2]:
# 만약 한 프로그램에서 2대의 계산기가 필요하다면?
# 하나의 프로그램에 많은 사용자들이 사용함.

result1 = 0
result2 = 0

def add1(num):  # 계산기1 -> 제 1 사용자
    global result1
    result1 += num
    return result1

def add2(num):  # 계산기2 -> 제 2 사용자
    global result2
    result2 += num
    return result2

print(add1(3))
print(add1(4))
print(add2(3))
print(add2(7))

# 각각의 함수는 독립적이기 때문에 서로 영향을 주지 않음.

3
7
3
10

In [4]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result

cal1 = Calculator() # 'cal1', 'cal2' 인스턴스를 만들어 냄.
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))

3
7
3
10

# 클래스와 객체

In [5]:
class Cookie:
    pass

In [6]:
a = Cookie()
a # 결과로 나오는 것은 객체의 주소임.

클래스로 만든 객체는 -> 인스턴스 \n
클래스를 통해서 만들어지지 않은 것은 -> 객체

# 사칙 연산 클래스 만들기

가장 먼저 어떤 데이터를 받아올지, 어떤 기능이 들어올지 정의하기

In [9]:
# 클래스 구조 만들기

class FourCal: # 클래스는 변수와 구분하기 위해 첫 글자는 반드시 대문자
    pass

In [10]:
a = FourCal()
a, type(a)

(<__main__.FourCal at 0x1a7641e3010>, __main__.FourCal)

In [11]:
>>> class FourCal:
...     def setdata(self, first, second): # 셋 데이터라는 함수를 만들어줌 
    # self 에서 인스턴스를 받아옴. 어떤 인스턴스인지 지정해야. 
...         self.first = first # 윤은진(인스턴스)의 달리기 기능.
...         self.second = second # 윤은진(인스턴스)의 달리기 기능.

# 함수는 데이터 하나에 대한 메모리,
# 클래스틑 여러 입력된 데이터에 대한 메모리

In [12]:
>>> a = FourCal()
>>> FourCal.setdata(a, 4, 2)

>>> FourCal.setdata(4, 2)
-> 작동 안하는 이유 : a에 대한 정의가 빠짐. 예) '인간(누구인지 모름)아 달려'
    
>>> a = FourCal()
>>> a.setdata(4, 2)

SyntaxError: unmatched ')' (576674058.py, line 5)

In [13]:
# a.mean()은 인스턴스를 활용하는 것이고
# mean(a)은 그냥 함수를 사용하는 거군요

In [14]:
a = FourCal()
b = FourCal()

In [15]:
a.setdata(4,2)
a.first

4

In [16]:
b.setdata(3,7)
b.first

3

# 더하기 기능 만들기

In [18]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):# self(인스턴스)를 위에서 받아옴
        result = self.first + self.second
        return result # 그냥 프린트가 아닌 데이터를 전달하기 위해서 사용. 번역변수?

In [19]:
a = FourCal()
a.setdata(4, 2)

In [20]:
a.add()

6

In [21]:
c = a.add()
c # return을 활용했기 때문에 반환 값을 받을 수 있음. 프린트는 안됨.

6

In [24]:
class FourCal:
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result 
    def mul(self):
        result = self.first * self.second
        return result 
    def sub(self):
        result = self.first - self.second
        return result 
    def div(self):
        result = self.first / self.second
        return result

In [25]:
a = FourCal()
b = FourCal()
a.setdata(4, 2)
b.setdata(3, 8)

print(a.add(), a.mul(), a.sub(), a.div())
print(b.add(), b.mul(), b.sub(), b.div())

6 8 2 2.0
11 24 -5 0.375

# 생성자

In [26]:
a = FourCal()
a.add()
# 데이터가 없어서 오류가 발생

AttributeError: 'FourCal' object has no attribute 'first'

In [27]:
class FourCal:
    def __init__(self, first, second): # __init__ = setdata, 이부분을 초기화, 생성자 라고 함. setdata 대신에 적용.
        self.first = first
        self.second = second
    def setdata(self, first, second):
        self.first = first
        self.second = second
    def add(self):
        result = self.first + self.second
        return result
    def mul(self):
        result = self.first * self.second
        return result
    def sub(self):
        result = self.first - self.second
        return result
    def div(self):
        result = self.first / self.second
        return result

In [28]:
a = FourCal()

TypeError: FourCal.__init__() missing 2 required positional arguments: 'first' and 'second'

In [30]:
a = FourCal(4,2)
a
# a.setdata(4,2) 안해도 됨

In [31]:
a.first

4

In [33]:
a.second

2

In [35]:
a.add()

6

# 클래스의 상속

In [36]:
class MoreFourCal(FourCal):
    pass
# 클래스를 상속하기 위해서는 다음처럼 클래스 이름 뒤 괄호 안에 상속할 클래스 이름을 넣어주면 된다.

In [37]:
a= MoreFourCal(4,2)
print(a.add(), a.mul(), a.sub(), a.div())

6 8 2 2.0

In [39]:
# 제곱 기능만 추가해보기
class MoreFourCal(FourCal):
    def pow(self):
        result = self.first ** self.second # **(곱하기 두개) = 제곱
        return result

In [40]:
a = MoreFourCal(4, 2)
a.pow()

16

# 메서드 오버라이딩

In [41]:
a = FourCal(4, 0)
a.div()

ZeroDivisionError: division by zero

In [42]:
class SafeFourCal(FourCal):
    def div(self):
        if self.second == 0:  # 나누는 값이 0인 경우 0을 리턴하도록 수정
            return 0
        else:
            return self.first / self.second

In [44]:
a = SafeFourCal(4,0)
a.div()

0

# 클래스 변수

In [45]:
class Family:
    lastname = "김"

In [46]:
Family.lastname # 변수는 괄호가 안들어간다. 객체변수

'김'

In [48]:
a = Family()
b = Family()

'김'

In [49]:
a.lastname

'김'

In [50]:
b.lastname

'김'

In [51]:
Family.lastname='박'
# 패밀리 클래스를 바꿨음

In [52]:
b.lastname

'박'

In [53]:
a.lastname = '최'
a.lastname

'최'

In [54]:
Family.lastname
# 위에서 패밀리를 바꾼게 아니기 때문에 그대로 유지됨.

'박'

In [55]:
a.lastname

'최'