In [7]:
#151
리스트 = [3, -20, -3, 44]
for 변수 in 리스트 : 
    if 변수<0:
        print(변수)
    else : 
        print('')

-20
-3

In [8]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트 : 
    if i % 3 == 0:
        print(i)

3

In [9]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for i in 리스트 : 
    if i <20 and i%3==0:
        print(i)

12
18

In [10]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [11]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [12]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower():
        print(i)

b
c

In [13]:
#157
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [14]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for i in 리스트:
    print(i.split('.')[0])

hello
ex01
intro

In [17]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    j = i.split('.')[1]
    if j == 'h':
        print(i)

intra.h
define.h

In [20]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for i in 리스트:
    j = i.split('.')[1]
    if j == 'h' or j == 'c':
            print(i)

intra.h
intra.c
define.h

In [24]:
#161
for i in range(0,100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [27]:
#162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [32]:
#163
for i in range(3,31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [34]:
#164
for i in range(99,-1,-1):
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [36]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [42]:
#166
for i in range(1,10):
    print("3*",i ,"=",3*i)

3* 1 = 3
3* 2 = 6
3* 3 = 9
3* 4 = 12
3* 5 = 15
3* 6 = 18
3* 7 = 21
3* 8 = 24
3* 9 = 27

In [45]:
#167
for i in range(1,10,2):
    print("3*",i ,"=",3*i)

3* 1 = 3
3* 3 = 9
3* 5 = 15
3* 7 = 21
3* 9 = 27

In [157]:
#168 
a = 0
for i in range(11):
    a += i
print('합:', a)

합: 55

In [158]:
#169
a=0
for i in range(1,11,2):
    a+=i
print('합:', a)

합: 25

In [161]:
#170
a=1
for i in range(1,11):
    a*=i
print(a)

합: 3628800

In [162]:
result = 1
for i in range(1, 11) :
    result *= i
print(result)

3628800

In [58]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [59]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [62]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [68]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90+10*i, price_list[i])

100 32150
110 32000
120 32500

In [79]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [80]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [91]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3):
    print(my_list[-i-1], my_list[-i-2])

라 다
다 나
나 가

In [93]:
#177
my_list = ["가", "나", "다", "라"]
for i in [3,2,1]:
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [118]:
#178
my_list = [100, 200, 400, 800]
for i in [0,1,2] :
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [136]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
for i in [0,1,2,3] : 
    i2 = [my_list[i]+my_list[i+1]+my_list[i+2]]
    print(sum(i2)/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [143]:
#180
low = [100, 200, 400, 800, 1000]
high = [150, 300, 430, 880, 1000]

volatility = []

for i in range(len(low)) : 
    volatility.append(high[i] - low[i])

    print(volatility)

[50]
[50, 100]
[50, 100, 30]
[50, 100, 30, 80]
[50, 100, 30, 80, 0]

In [144]:
#181
apart = [['101호:102호'], ['201호:202호'],['301호:302호']]

In [145]:
#182
stock = [['시가':100:200:300],['종가':80:210:330 ]]

In [146]:
#183
stock={'시가':[100,200,300], '종가':[80,210,330]}

In [147]:
#184
stock = {'10/10':[80,110,7,90], '10/11':[210,230,190,200]}

In [168]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    print(row[0], ' 호')
    print(row[1], ' 호')
    print('-------')

101  호
102  호
-------
201  호
202  호
-------
301  호
302  호
-------

In [169]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [171]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col,' 호')
print('--------')

101  호
102  호
201  호
202  호
301  호
302  호
--------

In [174]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [176]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for row in data:
    for col in row:
        print(col*1.00014)
    print('------')

2000.28
3050.427
2050.2870000000003
1980.2772
------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
------
15452.163
15052.107
15552.177
14902.086000000001
------

In [188]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []

for row in data:
    for col in row:
        result.append(col*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [226]:
#194 ************* 198번과 비교하여 풀기. (for 안에서 혹은 밖에서 [] 생성 -> 리스트의 구조 파악)
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []


for row in data:
    result1 = []
    for col in row:
        result1.append(col*1.00014)
    result.append(result1)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [211]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:4]:
    print(row[3])

100
190
310

In [212]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:4]:
    if row[3] > 150:
        print(row[3])

190
310

In [213]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:4]:
    if row[3] >= row[0]:
        print(row[3])

100
310

In [215]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:4]:
    volatility.append(row[1]-row[2])

print(volatility)

[40, 30, 10]

In [218]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:4]:
    if row[3] > row[0] : 
        print(row[1]-row[2])

10

In [220]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
수익 = []

for row in ohlc[1:4]:
    수익.append(row[3]-row[0])
print(sum(수익))

0