In [1]:
#251
# 클래스 : 여러개의 데이터를 입력하는 경우 활용
# 객체 : 저장되는 데이터
# 인스턴스 : 특정 클래스의 객체

In [2]:
#252
class Human:
    pass

In [3]:
#253
areum = Human()

In [4]:
#254
class Human :
    def __init__(self):
        print('응애응애')

areum = Human()

응애응애

In [6]:
#255
class Human :
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")

In [9]:
#256
print('이름:', areum.name, '나이:', areum.age, '성별:', areum.sex)

이름: 아름 나이: 25 성별: 여자

In [14]:
#257
class Human :
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print('이름:', self.name, '나이:', self.age, '성별:', self.sex)

In [17]:
areum = Human("아름", 25, "여자")

In [18]:
areum.who()

이름: 아름 나이: 25 성별: 여자

In [19]:
#258
class Human :
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def who(self):
        print('이름:', self.name, '나이:', self.age, '성별:', self.sex)
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("모름", 0, "모름")
areum.setInfo("아름", 25, "여자")

In [20]:
#259
class Human :
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
    def __del__(self):
        print("나의 죽음을 알리지 말라")
    def who(self):
        print('이름:', self.name, '나이:', self.age, '성별:', self.sex)
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

In [21]:
areum = Human("아름", 25, "여자")

In [22]:
del areum

나의 죽음을 알리지 말라

In [26]:
#260
class OMG : 
    def print() :
        print("Oh my god")
myStock = OMG()
myStock.print()

# OMG.print(myStock)

TypeError: OMG.print() takes 0 positional arguments but 1 was given

In [27]:
#261
class Stock:
    pass

In [29]:
#262
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

In [31]:
삼성 = Stock("삼성전자", "005930")
print(삼성.name)

삼성전자

In [32]:
#263
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.set_name = name

In [35]:
a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)
print(a.set_name)

None
삼성전자

In [36]:
#264
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
    def set_name(self, name):
        self.set_name = name
    def set_code(self, code):
        self.set_code = code
        
a = Stock(None, None)
a.set_code("005930")
print(a.code)
print(a.set_code)

None
005930

In [40]:
#265
class Stock:
    
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.set_name = name
        
    def set_code(self, code):
        self.set_code = code
    
    def get_name(self):
        return self.name
    
    def get_code (self):
        return self.code
    
삼성 = Stock("삼성전자", "005930")
print(삼성.name, 삼성.code)
print(삼성.get_name(), 삼성.get_code())

삼성전자 005930
삼성전자 005930

In [41]:
#266
class Stock:
    
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
        
    def set_name(self, name):
        self.set_name = name
        
    def set_code(self, code):
        self.set_code = code
    
    def get_name(self):
        return self.name
    
    def get_code (self):
        return self.code

In [44]:
#267
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

2.83

In [45]:
#268
class Stock:
    
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
        
    def set_name(self, name):
        self.set_name = name
        
    def set_code(self, code):
        self.set_code = code
    
    def get_name(self):
        return self.name
    
    def get_code (self):
        return self.code

    def set_per(self, PER):
        self.PER = PER

    def set_pbr(self, PBR):
        self.PBR = PBR
        
    def set_dividend(self, 배당수익률):
        self.배당수익률 = 배당수익률

In [51]:
#269
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.PER)

12.75

In [54]:
#270
class Stock:
    
    def __init__(self, name, code, PER, PBR, 배당수익률):
        self.name = name
        self.code = code
        self.PER = PER
        self.PBR = PBR
        self.배당수익률 = 배당수익률
        
    def set_name(self, name):
        self.set_name = name
        
    def set_code(self, code):
        self.set_code = code
    
    def get_name(self):
        return self.name
    
    def get_code (self):
        return self.code

    def set_per(self, PER):
        self.PER = PER

    def set_pbr(self, PBR):
        self.PBR = PBR
        
    def set_dividend(self, 배당수익률):
        self.배당수익률 = 배당수익률
        
리스트 = []
        
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

리스트.append(삼성)
리스트.append(현대)
리스트.append(LG)

for i in 리스트:
    print(i.code)
    print(i.PER)

005930
15.79
005380
8.7
066570
317.34

In [59]:
#271

import random

class Account :
    def __init__(self, name, money):
        self.name = name
        self.money = money
        self.bank = "SC은행"
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' +num3 
        
계좌1 = Account('윤은진', 10000)
print(계좌1.name)
print(계좌1.money)
print(계좌1.bank)
print(계좌1.account_number)

윤은진
10000
SC은행
981-20-685220

In [61]:
#272
import random

class Account :
    객체수 = 0
    
    def __init__(self, name, money):
        self.name = name
        self.money = money
        self.bank = "SC은행"
        num1 = random.randint(0,999)
        num2 = random.randint(0,99)
        num3 = random.randint(0,999999)
        
        num1 = str(num1).zfill(3)
        num2 = str(num2).zfill(2)
        num3 = str(num3).zfill(6)
        
        self.account_number = num1 + '-' + num2 + '-' +num3 
        
        Account.객체수 = 객체수+1
        
계좌1 = Account('윤은진', 10000)
print(계좌1.객체수)

NameError: name '객체수' is not defined